
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/

/*
    #2f71c1
    #1A233A
    #749dcf
    #2b3958 ca doit etre le bon
*/
body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
width: 100%;
margin-top:50px;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
    
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.minin_logo{
    width: 50px;
    background-color: #fff;
    height: 50px;
    border-radius: 50%;
    max-width: 100%;
}

.caption{
    padding-top: 10px;
    color: #F3F3F3;
}

.logo{
    display: flex;
    padding-top: 5px;
}

.logo li{
    list-style-type: none;
    align-items: center;
}

.user-image-back {
    background-color:#222d32;
    padding-top: 10px;
    text-align: center;
    border: 1px solid black;
}

.img-responsive{
    border: 1px solid #e4e6e7;
    border-radius: 50%;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

h5,.h5 {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom:20px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

#main-menu{
    background-color: #222d32;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f0d0d0;
}
.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus {
    color: #F3F3F3;
    background-color: #2b3958;
}
.arrow {
    float: right;
}
    
.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}
    
    
.nav-second-level li, .nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}
    
.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
    background:none;
}
.sidebar-collapse .nav {
    padding:0;
}
.sidebar-collapse .nav > li > a {
    background: #222d32;
    text-shadow: none;
    color:#F3F3F3;
}
.sidebar-collapse > .nav > li > a {
    padding:15px 20px;
}
/*
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(240, 240, 240, 1) !important;
}*/
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    
    background:#0f1416;
    outline:0;
    border-left: 5px solid #3c4c6e;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
    height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
    left:40px;
}
.navbar-side {
    border:none;
    
}
.navbar-inverse {
    background-color: #3c4c6e;
    border-color: #D3D3D3;

}

.navbar-default {
    border:0px solid #DDDDDD;
    background-color: #222d32; 
    padding-top: 10px; 
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #B40101;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}
.navbar-inverse .navbar-brand  {
    color: #000000;
    font-size: 25px;
    font-weight: 900;
}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
    color: #000000;
    font-size: 25px;
    font-weight: 900;
}
.navbar-inverse .navbar-toggle {
    border-color: #8B7BFF;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #8B7BFF;
}
.adjust-nav {
    padding-left:20px;padding-right:20px;
}
.navbar-toggle {
    background-color: #8B7BFF;
}
  
     
@media(min-width:768px) {
    #page-wrapper{
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
        
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px; 
    }

}
    
    
    